.leticia{
    background-color: chocolate;
    width: 50%;
    height: 50px;
    margin: auto;
margin-bottom: 10px;
padding-left: 10px;
padding-top: 40px;
padding-bottom: 10px;
}
.dog{
    background-color: red;
    width: 90px;
    height: 50px;
    padding-left: 50px;
    padding-top: 30px;
}
.shallot{
    background-color: red;
    width: 40%;
    height: 300px;
    margin: auto;
    margin-bottom: 30px;
}
.jesse{
    background-color: pink;
    height: 250px;
    width: 40%;
    margin: auto;
    margin-bottom: 10px;
}
.sarah{
    background-color: blue;
    height: 230px;
    width: 40%;
    margin: auto;
    margin-bottom: 10px;
}
.sasha{
    background-color: blueviolet;
    width: 50%;
    height: 50px;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
}
.go{
    background-color: chartreuse;
    width: 310px;
    height: 300px;
    float: right;
}
.come{
    background-color: chocolate;
    height: 300px;
    width: 310px;
    float: left;
}
.about{
    background-color: chartreuse;
    width: 40px;
    height: 50px;
    font-style: italic;
}
.cow{
    background-color: brown;
    width: 50px;
    height: 40px;
    margin-top: 10px;
    font-style: italic;
    padding-top: 20px;
}
.sheep{
    background-color: blueviolet;
    font-style: oblique;
    height: 40px;
    width: 50px;
    padding-top: 20px;
    }
